/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


:root {
  /* --color-primary: #4f46e5; */
  /* --spacing-base: 1rem; */

  /* start here */
  /* --blue-mainBackgroundColor: #E1E1E1;
  --blue-textColor: #f9fafb;  
  --blue-hoverTextColor: #1f2937; 
  --blue-backgroundColor: #4265D0;
  --blue-hoverBackgroundColor: #E1E1E1;
  --blue-backgroundSecondaryColor: #4265D0;
  --blue-hoverBackgroundSecondaryColor: #E1E1E1;
  --blue-contentTextColor: text-gray-600; 
  --blue-borderColor: #4265D0;
  --blue-buttonColor:#18181b; 
  --blue-buttonTextColor: #fff; */

    --blue-primary-background-color: #0C1641;
  --blue-primary-background-hover-color: #344272;
  --blue-primary-text-color: #34E3F0; 
  --blue-primary-hover-text-color: #1f2937;
  --blue-secondary-background-color: #344272;
  --blue-secondary-background-hover-color: #E1E1E1;
  --blue-secondary-text-color: #34E3F0;
  --blue-secondary-hover-text-color: #1f2937;

}


.dark{
  /* --blue-textColor: #aa2467;
  --blue-mainBackgroundColor: #0C1641;
  --blue-textHoverColor: #1f2937;
  --blue-backgroundColor: #344272;
  --blue-hoverBackGroundColor: #E1E1E1;
  --blue-backgroundSecondaryColor: #344272;
  --blue-hoverBackgroundSecondaryColor: #E1E1E1;
  --blue-contentTextColor:#34E3F0;
  --blue-borderColor: #34E3F0;
  --blue-buttonColor:#34E3F0;
  --blue-buttonTextColor:#18181b */

  --blue-primary-background-color: #0C1641;
  --blue-primary-background-hover-color: #344272;
  --blue-primary-text-color: #34E3F0; 
  --blue-primary-hover-text-color: #1f2937;
  --blue-secondary-background-color: #344272;
  --blue-secondary-background-hover-color: #E1E1E1;
  --blue-secondary-text-color: #34E3F0;
  --blue-secondary-hover-text-color: #1f2937;
}

@tailwind base;
@tailwind components;
@tailwind utilities;